/* FILTRO --------------------------- */
/* fixar o filtro na tela */
.filter__ret--purple {

  position: fixed;
  display: flex;
  align-items: center;
  /* alinha o icone de novo no centro */
  /*justify-content: center;*/
  flex-direction: row-reverse;
  width: 2rem; /* 2rem */
  margin-top: -2.3rem;
  font-size: 14px;
  text-align: justify;

  border-radius: 0px 100px 100px 0px;
  
  background: var(--light-purple);


  height: auto;
  transition: 0.5s;
  

  
}


.icon__svg:active {
  rotate: 180deg;
  
}


/* active */
  .filter__ret--purple:active{
  /* alinha o icone de novo no centro */
  justify-content: center;
  width: auto;
    /* alinha o icone de novo na borda */
    justify-content: space-between;
  }



  .filter__form:active{
    /*padding: 0 2em;*/
    opacity: 1;
    
  }

  .filter__form:active input{
    /*margin-top: 0.5em;*/
    /*margin-right: 0.62em;*/
  }

  h3 {
    font-weight: bold;
  }

/* TELAS DIFERENTES ------------------------------------------------ */

/* filtro nas telas grandes ok */
@media screen and (min-width: 1199px) {


  .filter__ret--purple {
    position: fixed;

    width: auto;
    height: auto;

  /* alinha o icone de novo na borda */
    justify-content: space-between;
  
    
    
  }

  .filter__form{
    margin: 1em 0;
    padding-right: 2em;
    padding-bottom: 1em;
    opacity: 1;
    
    
  }

  .filter__form input{
    margin-right: 0.62em;
    
  }

  form .h3 {
    padding: 0.3em 0 0 0;
    font-weight: bold;
  }
  
  svg {
    /*escondendo o ícone*/
  opacity: 0;
  
  
  }
}