/* FILTRO --------------------------- */
/* fixar o filtro na tela */
#toggle, .filter__form {
  display: none;
}

#toggle:checked + .checkbox-wrapper {
  display: flex;
  align-items: center;
  height: auto;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  height: 60vh;
  
}

#toggle:checked + .checkbox-wrapper .icon__svg {
  rotate: 180deg;
}

#toggle:checked + .checkbox-wrapper .filter__form {
  display: block;
}

.filter__ret--purple {

  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: auto;
  margin-top: -2.3rem;
  font-size: 14px;
  text-align: justify;

  border-radius: 0px 100px 100px 0px;
  
  background: var(--light-purple);

  height: auto;
  
}

.filter__form{
  padding: 0 .5rem;
  
}


  h3.h3{
    font-weight: bold;
    margin: 0;
    padding: 0; 
  }

/* TELAS DIFERENTES ------------------------------------------------ */

/* filtro nas telas grandes ok */
@media screen and (min-width: 1199px) {


  .filter__ret--purple {
    position: fixed;

    width: auto;
    height: auto;

  /* alinha o icone de novo na borda */
    justify-content: space-between;
  
    
    
  }

  .filter__form{
    padding-right: 2em;
    padding-bottom: 1em;
    display: block;
    
    
  }

  .checkbox-wrapper {
    height: auto;
  }

  .filter__form input{
    margin-right: 0.62em;
    
  }

  form .h3 {
    padding: 0.3em 0 0 0;
    font-weight: bold;
  }
  
  svg {
  display: none;
  }
}